[submodule "CppDeps/AnalogIn"]
	path = CppDeps/AnalogIn
	url = https://github.com/doates625/AnalogIn.git
[submodule "CppDeps/AS5048B"]
	path = CppDeps/AS5048B
	url = https://github.com/doates625/AS5048B.git
[submodule "CppDeps/DigitalOut"]
	path = CppDeps/DigitalOut
	url = https://github.com/doates625/DigitalOut.git
[submodule "CppDeps/I2CDevice"]
	path = CppDeps/I2CDevice
	url = https://github.com/doates625/I2CDevice.git
[submodule "CppDeps/LTIFilter"]
	path = CppDeps/LTIFilter
	url = https://github.com/doates625/LTIFilter.git
[submodule "CppDeps/Mux"]
	path = CppDeps/Mux
	url = https://github.com/doates625/Mux.git
[submodule "CppDeps/PID"]
	path = CppDeps/PID
	url = https://github.com/doates625/PID.git
[submodule "CppDeps/Platform"]
	path = CppDeps/Platform
	url = https://github.com/doates625/Platform.git
[submodule "CppDeps/Unions"]
	path = CppDeps/Unions
	url = https://github.com/doates625/Unions.git
[submodule "CppDeps/CppUtil"]
	path = CppDeps/CppUtil
	url = https://github.com/doates625/CppUtil.git
[submodule "CppDeps/SerialC"]
	path = CppDeps/SerialC
	url = https://github.com/doates625/SerialC.git
[submodule "CoProc/lib/i2c_t3"]
	path = CoProc/lib/i2c_t3
	url = https://github.com/nox771/i2c_t3.git
